<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="stealAxe" class="spring3.com.dao.impl.StealAxe"/>
    <bean id="toolUpkeep" class="spring3.com.aspect.ToolUpkeep"/>
    <bean id="stealAxeProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces" value="spring3.com.dao.Axe"/>
        <property name="target" ref="stealAxe"/>
        <property name="interceptorNames" value="toolUpkeep"/>
        <property name="proxyTargetClass" value="true"/>
    </bean>
</beans>