<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis1.com.mapper.SCMapper">
    <select id="selectAll" resultType="mybatis1.com.po.SC">
        select *
        from sc
    </select>
    <insert id="insertSC" parameterType="mybatis1.com.po.SC">
        insert into sc(sno, cno, tno, partcipation, final, total)
        values (#{sno}, ${cno}, #{tno}, #{partcipation}, #{final}, #{total});
    </insert>
    <select id="selectScoreBySno" parameterType="String" resultMap="selectScoreBySnoMap">
        select * from sc where sno=#{sno};
    </select>
    <resultMap type="mybatis1.com.po.SC" id="selectScoreBySnoMap">
        <id property="cno" column="cno"/>
        <id property="sno" column="sno"/>
        <id property="tno" column="tno"/>
        <result property="participation" column="participation"/>
        <result property="final" column="final"/>
        <result property="total" column="total"/>
    </resultMap>
</mapper>